<div>
    <h2 class="margint text-white">
        {{title}}
    </h2>
    <div>
        <ng-container *ngIf="!isFilter else listuserFilter">
            <h3 *ngIf="data == null else list">
                Loading...
            </h3>
            <ng-template #list >                    
                <app-item-user *ngFor="let result of data" [data] = "result" [userOrg]="userOrg"></app-item-user>                
                <div class="d-flex justify-content-center mt-2">
                    <button *ngIf="showButton" class="btn btn-dark" type="button" (click)="addData()">Show more</button>
                </div>
                
            </ng-template>
        </ng-container>
        <ng-template #listuserFilter>            
            <h3>
                <div class="d-flex justify-content-center">
                    <input  class="form-control" type="email" [(ngModel)]="email" #searchInput="ngModel" placeholder="Search by email"/>
                    <button type="button" class="btn btn-dark" (click)="searchFn()">Search</button>
                </div>
            </h3>
            <div class="text-white" *ngIf="dataFilter.length == 0 else listuserFilter">
                without results 
            </div>
            <ng-template #listuserFilter >                    
                <app-item-user *ngFor="let result of dataFilter" [data] = "result" [userOrg]="userOrg"></app-item-user>                
            </ng-template>
        </ng-template>
    </div>
</div>
