<div class="menu-item m-2 p-3">
    <div class="glass p-2">
        <div>
            <h3>
                <strong>
                    {{data.email}}
                </strong>
            </h3>
            <div class="d-flex justify-content-between p-2">
                <h4 class="mr-4">
                    {{data.username}} <p class="badge bg-warning text-dark">            {{getRole()}}</p>            
                </h4>
                <div>        
                    <mat-form-field appearance="fill">
                    <mat-label>Change role</mat-label>
                    <mat-select (selectionChange)="updateRole()" [(value)]="data.role">
                        <mat-option value="0">
                            Administrator
                        </mat-option>
                        <mat-option value="1">
                            User Reporter
                        </mat-option>
                        <mat-option value="2">
                            User Reporter/Organization
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>    
    </div>
</div>