/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {   
    font-family: 'Roboto';    //This is what we are going to call
    src: url('/assets/fonts/Roboto/Roboto-Thin.ttf');    
}

.mt-2{
    margin-top: 2rem;
}
.container-main {
    min-height: 100%; 
    position:relative;
    margin:0px;
    padding:0px;
}

.scroll-intern{
    height:70vh;
    // box-shadow: inset 0 0px 40px 20px rgb(0, 0, 0) ;
    overflow-y:scroll;
}
  

.glass{
    background: rgba( 167, 167, 167, 0 );
    box-shadow: 0 8px 32px 0 rgba(135, 119, 31, 0.158);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


h1{
    font-family: Roboto;
    font-size: 3rem;
    color:#ccc;    
}

ion-content {
    --background: url('/assets/bg/backgroundGradient.PNG') repeat-x 100% 100% / contain;    
}


.planet{
    position: absolute;
    bottom: 0;
    // height:(764/2)+px;
    // overflow: hidden;    
}

.planet>img{
    width: 100vw;    
    height: 30vh;
    object-fit:none;
    object-position:top;
}

.items-on-planet{
    display: flex;    
    position:absolute;
    bottom: 23vh;
    left: 50vw;    
    margin-left:-(((537/2)/4) + (748/8))+px;
}

// 748 - 713
#sprite-image-sun {
    height: 65vh;
    width: 100%; 
    position:absolute;
    bottom:0;    
    background: url('/assets/bg/sun.png');    
    background-size: cover;    
}

.f-flex{
    display: flex;
    justify-content: center;
}

// 748 - 713
#sprite-image-roc1 {
    height: (713/8)+px;
    width: (748/8)+px; 
    margin-top: 50px;      
    background: url('/assets/bg/roc1.png');    
    background-size: cover;    
}


#sprite-image-roc2 {
    height: (713/8)+px;
    width: (748/8)+px; 
    margin-top: 50px;         
    background: url('/assets/bg/roc2.png');    
    background-size: cover;    
}


// 1381-930
#sprite-image-boy {
    height: 116.25px;
    width: 86.31px;     
    background: url('/assets/bg/boy.png');
    
      background-size: cover;
    animation: playBoy 15s steps(2) infinite;
  }
  @keyframes playBoy {
    100% {
      background-position: -170px;
    }
  }


//   537 - 308
  #sprite-image-animal1 {
    height: ((308/1)/4)+px;
    width: ((537/2)/4)+px;
    margin-top: 40px;
    background: url('/assets/bg/animal1.png') no-repeat;
    
      background-size: cover;
    animation: playAnimal1 2s steps(2) infinite;
  }
  @keyframes playAnimal1 {
    100% {
      background-position: -159px;
    }
  }

