<div>    
    
</div>

<div class="menu-item mt-2" >  
    <div class="glass" (click)="goToMap()">
      <div>      
         <img [src]="'/assets/bg/'+getImage(data.level,data.situation)">       
      </div>
      <div>
        <div >
          <h3>
           {{data.situation}}                             
          </h3>
          <p>
            {{data.text}}
          </p>
          <p class="badge bg-warning text-dark">            
            {{data.userOrg ? 'Attend' : 'Not Attend'}}              
          </p>
        </div>
  
      </div>
    </div>    
    <button class="btn btn-dark" style="width: 200px;" *ngIf="userOrg==data.userOrg" type="button" (click)="cancel()" shape="round">
     Cancel
    </button>    
    <button class="btn btn-dark" style="width: 200px;" *ngIf="!data.userOrg || data.userOrg == ''" type="button" (click)="attend()" shape="round">
      Attend
    </button>       
  </div>
