<div>
    <h2 class="margint text-white">
        - {{title}}
    </h2>
    <div>
        <ng-container *ngIf="!isRealTime else listRealTime">
            <h3 *ngIf="data == null else list">
                Loading...
            </h3>
            <ng-template #list >                    
                <app-item-notification *ngFor="let result of data" [data] = "result" [userOrg]="userOrg"></app-item-notification>                
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-dark" *ngIf="showButton" type="button" (click)="addData()">Show more</button>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #listRealTime>            
            <h3 *ngIf="dataRealTime.length == 0 else listRealTime" class="text-white">
                You don't have notifications 
            </h3>
            <ng-template #listRealTime >                    
                <app-item-notification *ngFor="let result of dataRealTime" [data] = "result" [userOrg]="userOrg"></app-item-notification>                
            </ng-template>
        </ng-template>
    </div>
</div>
