<div>
  <h2>Describe what happened ...</h2>
  <div class="form-notification-container">  
    <!-- Textarea that clears the value on edit -->    
    <ion-item>        
      <ion-textarea [(ngModel)]="textData" id="textData"  class="txt-notification" maxlength="100" auto-grow="false" rows="4" clearOnEdit="true" placeholder="Use short words for example: Puppy,broken paw."></ion-textarea>                
    </ion-item>    
  </div>  
  <ion-fab (click)="sendNotification()" vertical="bottom" horizontal="center" slot="fixed" color="primary">
    <ion-fab-button>
      <ion-icon name="pin-outline"></ion-icon>    
    </ion-fab-button>
  </ion-fab> 
</div>