  <div *ngIf="isSun" class="f-flex">
    <div id="sprite-image-sun" class="sprite-sun ">
    </div>
  </div>

    <div class="planet">                  
      <img src="/assets/bg/planet.png">
    </div>
    <div class="items-on-planet">      
      <div id="sprite-image-roc1" class="sprite-roc ">
      </div>

      <div id="sprite-image-boy">
      </div>

      <div id="sprite-image-animal1" class="sprite-animal ">
      </div>

      <div id="sprite-image-roc2" class="sprite-roc ">
      </div>                                 
    </div> 
