<div class="content-sides ">    
        <div class="side-left col-lg-6 col-12">
            <app-list-notification [title]="'List Reports'" [isRealTime]="false"></app-list-notification>
        </div> 
        <div class="side-right col-lg-6 col-12">
            <div class="inner-content">

                <div class="top">
                    <app-list-notification [title]="'New Reports'" [isRealTime]="true"></app-list-notification>
                </div>                
                <div class="bottom">
                    <app-map [title]="'Location report'"></app-map>
                </div>                    
            </div>
        </div>                           
</div>

