<h2>
    Organizations
</h2>
<div class="content-sides">    
        <div class="side-left">
            <app-list-notification [title]="'List Reports'" [isRealTime]="false"></app-list-notification>
        </div> 
        <div class="side-right">
            <div class="inner-content">

                <div class="top">
                    <app-list-notification [title]="'New Reports'" [isRealTime]="true"></app-list-notification>
                </div>                
                <div class="bottom">
                    <app-map [title]="'Location report'"></app-map>
                </div>                    
            </div>
        </div>                           
</div>

