.scrollable-list{
    overflow-y: scroll;
}

.content-sides{
    display: flex;
    padding: 5px;
}

.side-right{ 
    width: 45vw;    
    padding: 5px;    
    margin: 5px;
    border-radius: 5px;
    position: sticky;    
}
.inner-content{
    position: fixed;
    width: 45vw;
}

.side-right > .top{
    height: 30vh;
    overflow-y: scroll;    
}

.side-left{
    width: 45vw;    
    padding: 5px;
    margin: 5px;
    border-right:2px solid #000;    
    border-radius: 5px;
}