<div class="container-main content">
    <app-title-logo></app-title-logo>
  
    <div class="d-flex justify-content-center">    
      <form id="login" class="w-50" [formGroup]="frmLogin" (ngSubmit)="loginUser()">
        <div>
          <div>
            <label position="stacked" class="form-label mt-3">Email</label>
            <input class="form-control" formControlName="email" type="email" placeholder="Email">
            <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched)" >
              <div *ngIf="f.email.errors.required" class="text-danger">
                Email is required
              </div>
              <div *ngIf="f.email.errors.email" class="text-danger">
                Email is not valid
              </div>
            </div>
          </div>
          <div>
            <label position="stacked" class="form-label mt-3">Password</label>
            <input class="form-control" formControlName="password" type="password" placeholder="******">
            <div *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
              <div *ngIf="f.password.errors.required" class="text-danger">
                Password is required
              </div>
              <div *ngIf="f.password.errors.minlength" class="text-danger">
                  Min 6 characters
              </div>
              <div *ngIf="f.password.errors.maxlength" class="text-danger">
                  Max 255 characters
              </div>
            </div>
          </div>                    
        </div>      
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-dark" type="submit" [disabled]="!frmLogin.valid">Log in</button>
          <button class="btn btn-dark" (click)="goToRegister()">Register</button>
        </div>      
      </form>
    </div>  
  
    <app-footer-planet></app-footer-planet>
  </div>
  